<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <title>XSS Platform</title>
    <link rel="stylesheet" href="<?=__APP?>combo.php?style.css,login.css">
    <script src="<?=__APP?>public/js/jquery-2.1.4.js"></script>
</head>
<body>
<div class="title">XSS Platform</div>
  <div class="main">
      <input type="text">
      <div style="margin-top:20px;"></div>
      <input type="password">
  </div>

</body>
</html>